html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: bold;
	font-size: 36px;
}
* {
	padding: 0;
	margin: 0;
}
body {
	background: black;
	color: #9dacc7;
}

@font-face {
  font-family: "Gulim";
  src: url("fonts/gulim.ttf") format("truetype");
}
article {
	display: flex;
}

secret {
	color: transparent;
}
secret:hover {
	color: black;
}
.glow {
  box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5),
              0 0 20px 10px rgba(255, 0, 0, 0.5),
              0 0 30px 15px rgba(0, 0, 255, 0.5);
}

.roundEdge {
	border-radius: 20px;
}
.thinBorder {
	border: solid #272d3e 5px;
}

header {
	background: black;
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	background: linear-gradient(to bottom, #000000, #333333);
  	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header *:not(img) {
	background: linear-gradient(to right, #9dacc7, #a899ff);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#main {
	display: flex;
	flex-direction: column;
	height: 650px;
	width: 280px;
	margin: auto;
	color: #9dacc7;
	background: #939393;
}
#main .post {
	height: 200px;
	width: 100%;
	background: white;
	transition: 0.2s;
}
#main .post:hover {
	background: #dddddd;
	transition: 0.3s;
}
